## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
**/[Pp]ackages/*
*.nupkg
**/packages/*

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## IDE
.idea/
.vs/
*.swp
*.swo
*~

## OS
.DS_Store
Thumbs.db

## Deployment
infra/.env
.publish/
.publish.zip
.publish-web/

## App specific
appsettings.Development.json
appsettings.Local.json
*.db
*.db-shm
*.db-wal
keys/
